<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Agregar nuevo producto</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        a{
        color:white;
        }
        a:hover {
        color: black;
        text-decoration:none;
        }




    </style>
</head>
<body>

<!--[134] Creo el HTML de Productos-->

<div class="container">
    <h1>Agregue aquí los datos del producto</h1>
    <br>
    <!--CREAR FORMULARIO PARA LLENAR LOS DATOS DE LA USUARIO Y GUARDARLA EN EL OBJETO user-->
    <form th:action="@{/GuardarProducto}" th:object="${prod}" method="post">

        <!--CAMPO PARA NOMBRE DEL PRODUCTO-->
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3" for="nombre">Nombre del producto:</label>
                <div class="col-md-6">
                    <input type="text" th:field="*{nombreProducto}" class="form-control" id="nombre"
                           required="required">
                </div>
            </div>
        </div>


        <!--CAMPO PARA LISTA DE GÉNEROS-->
        <!--[135] En este formulario debo de hacer llegar aquí, la lista que de géneros que se va a desplegar, para eso me regreso al controlador en su SERVICIO AGREGAR PRODUCTOS y agrego las lineas [136] y [137]-->
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3" for="listGenero">Genero:</label>
                <div class="col-md-6">
                    <!--[139] Ya no es de tipo input sino select y dentro de él pongo las posibles opciones-->
                    <select th:field="*{idGenero}" class="form-control" id="listGenero" required="required">
                        <!--[139.1]NOTA: no entiendo bien este th:field="*{listaProductos}" de donde sale y porque lo debo de poner-->
                        <option th:each="genero : ${generoList}" th:text="${genero.nombreGenero}"
                                th:value="${genero.id}"></option>
                        <!--[140] Las opciones salen de la iteración generoList y eso lo hago con un each(aqui no hay for) cada producto que se encuentre en el objeto generoList muestreme en pantalla la genero pero el valor que va a guardar(value) es el id -->
                    </select>
                </div>
            </div>
        </div>

        <!--CAMPO PARA LISTA DE MARCAS-->
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3" for="listMarca">Marca:</label>
                <div class="col-md-6">
                    <select th:field="*{idMarca}" class="form-control" id="listMarca" required="required">
                        <option th:each="marca : ${marcalist}" th:text="${marca.nombreMarca}"
                                th:value="${marca.id}"></option>
                    </select>
                </div>
            </div>
        </div>

        <!--CAMPO PARA LISTA DE TALLAS-->
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3" for="listTalla">Talla:</label>
                <div class="col-md-6">
                    <select th:field="*{idTalla}" class="form-control" id="listTalla" required="required">
                        <option th:each="talla : ${tallalist}" th:text="${talla.nombreTalla}"
                                th:value="${talla.id}"></option>
                    </select>
                </div>
            </div>
        </div>

        <!--CAMPO PARA LISTA DE COLORES-->
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3" for="listColor">Color:</label>
                <div class="col-md-6">
                    <select th:field="*{idColor}" class="form-control" id="listColor" required="required">
                        <option th:each="color : ${colorlist}" th:text="${color.nombreColor}"
                                th:value="${color.id}"></option>
                    </select>
                </div>
            </div>
        </div>

        <!--CAMPO PARA LISTA DE CATEGORÍAS-->
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3" for="listCategoria">Categoría:</label>
                <div class="col-md-6">
                    <select th:field="*{idCategoria}" class="form-control" id="listCategoria" required="required">
                        <option th:each="categoria : ${categorialist}" th:text="${categoria.nombreCategoria}"
                                th:value="${categoria.id}"></option>
                    </select>
                </div>
            </div>
        </div>

        <!--CAMPO PARA CANTIDAD-->
        <!--[141] En este formulario debo de hacer llegar aquí, la cantidad de productos a agregar despues me regreso al controlador y crear el servicio agregar Inventario-->
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3" for="cant">Cantidad:</label>
                <div class="col-md-6">
                    <input type="number" th:field="*{cantidad}" class="form-control" id="cant">
                </div>
            </div>
        </div>


        <!--CAMPO PARA PRECIO-->
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3" for="precio">Precio unidad:</label>
                <div class="col-md-6">
                    <input type="number" th:field="*{precio}" class="form-control" id="precio">
                </div>
            </div>
        </div>


        <!--[74] Botones -->
        <div class="row">
            <div class="col-md-2">
                <button class="btn btn-success">Registrar producto</button> <!--[75] Botón Crear y [75.1]-->
            </div>
        </div>
    </form>


    <br>
    <!--[76] Botón Atrás -->
    <a href="javascript: history.go(-1)" class="btn btn-info" role="button">Atrás</a> <!--[77], [77.1] y [77.2]--->
</div>

</body>
</html>