<!--[57]-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> <!--[57.1]-->
<head>
    <title>Lista de Productos</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> <!--[57.2]-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"> <!--[112]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>  <!--[116]-->

    <style>
        a{
        color:white;
        }
        a:hover{
        color: black;
        text-decoration:none;
        }













    </style>
</head>
<body>

<div class="container">
    <h1>Lista de Productos</h1>
    <!-- [58] DIBUJAMOS LA TABLA-->
    <br>
    <table class="table table-hover table-bordered">
        <tr>
            <th>ID</th>
            <th>Nombre Producto</th>
            <th>Lista de Producto</th>
            <th>Precio</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>

        <!--[133] LLENAMOS LA TABLA DIBUJADA-->
        <tr th:each="empleado : ${prodlist}">  <!--[58.2]-->
            <td th:text="${empleado.id}"></td>  <!--[58.3] y [58.4]-->
            <td th:text="${empleado.nombreProducto}"></td>
            <td th:text="${empleado.listaProductos}"></td> <!--[134] Tengo dudad de como genero esta lista-->
            <td th:text="${empleado.precio}"></td>
            <td>
                <!--[58.5] Creo los botones-->
                <button type="button" class="btn btn-warning"><a th:href="@{/EditarProducto/{id}(id=${producto.id})}">Editar</a>
                </button>
                <!--[58.6]-->
            </td>
            <td>
                <!--[59]-->
                <button type="button" class="btn btn-danger"><a th:href="@{/EliminarProducto/{id}(id=${producto.id})}">Eliminar</a>
                </button>
            </td>
        </tr>
    </table>
    <!--[60]-->
    <button type="button" class="btn btn-info"><a th:href="@{/AgregarProducto}">Agregar Nuevo Producto</a>
    </button>
    <!--[61]-->
    <!--[62] -->

</div>

<script th:inline="javascript">                                             //[103] y [103.1]
    window.onload=function(){                                               //[104]

        var msg= [[${mensaje}]];                                            //[105]
        if (msg == "saveOK"){                                               //<[106] y [107]
            Command : toastr["success"]("Producto creado con éxito!")        //[108]
            }
        else if (msg == "updateOK"){                                        //[109]
            Command : toastr["success"]("Producto actualizado con éxito!")   //[110]
        }
        else if (msg == "deleteOK"){                                         //[111]
            Command : toastr["error"]("Registro de producto eliminado con éxito!")
        }
        else if (msg == "deleteError"){
            Command : toastr["error"]("Registro de producto no ha sido eliminado!")
        }
        toastr.options={                                                    //[112]
            "positionClass": "toast-top-right",                             //[113]
            "showDuration":"300",                                           //[114]
            "showMethod":"fadeIn",                                          //[115]
            "hideMethod":"fadeOut",
        }

        //[116] Me voy para la Interface ProductoDetalleRepository.
    }







































</script>


</body>


</html>